name: nftindexerfuji
version: 0.0.0
description: NFT Factory
repository: https://github.com/nft-factory
networks:
  - id: 43113
    rpc_config:
      url: https://endpoints.omniatech.io/v1/avax/fuji/public
    # rpc_url: https://api.avax-test.network/ext/bc/C/rpc
    start_block: 22009922
    contracts:
      - name: NftFactory
        abi_file_path: abis/NftFactory.json
        address: "0xB1540299B9853c11cEA52939D0C3e06b29Ad99ec"
        handler: src/EventHandlers.js
        events:
          - event: "SimpleNftCreated"
            requiredEntities: []
      - name: SimpleNft
        abi_file_path: abis/SimpleNft.json
        # address: "0xD19d8469cd68D6E34617c349491C45e48a1EFDe0"
        handler: src/EventHandlers.js
        events:
          - event: "Transfer"
            requiredEntities:
              - name: "User"
                labels:
                  - "userFrom"
                  - "userTo"
              - name: Nftcollection
                labels:
                  - "nftCollectionUpdated"
              - name: Token
                labels:
                  - "existingTransferredToken"
