name: erc20indexer
description: ERC-20 indexer
networks:
  - id: 1 # Ethereum Mainnet
    start_block: 10861674
    contracts:
      - name: ERC20
        abi_file_path: abis/ERC20.json
        address: "0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984" #UNI
        handler: src/EventHandlers.ts
        events:
          - event: "Approval"
            requiredEntities:
              - name: "Account"
                labels:
                  - "ownerAccountChanges"
          - event: "Transfer"
            requiredEntities:
              - name: "Account"
                labels:
                  - "senderAccountChanges"
                  - "receiverAccountChanges"
