# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: erc20-indexer
description: ERC-20 Indexer
contracts:
  - name: ERC20
    events:
      - event: "Approval(address indexed owner, address indexed spender, uint256 value)"
      - event: "Transfer(address indexed from, address indexed to, uint256 value)"
chains:
  - id: 1 # Ethereum Mainnet
    start_block: 20000000
    contracts:
      - name: ERC20
        address: 0x32353A6C91143bfd6C7d363B546e62a9A2489A20 #UNI
  - id: 100 # Gnosis Mainnet
    start_block: 40000000
    contracts:
      - name: ERC20
        address: 0x4537e328Bf7e4eFA29D05CAeA260D7fE26af9D74 #UNI
# Address format for Ethereum addresses: 'checksum' or 'lowercase'
# using lowercase addresses is slightly faster
address_format: lowercase
