target
tarpaulin_target
tarpaulin-report.html
integration_test_output
.DS_Store
# vim files
*~
*.swo
*.swp
.pnpm-store

#All generated code for scenarios
scenarios/**/*.bs.js
scenarios/**/*.res.js
scenarios/**/*.gen.ts
scenarios/**/lib/*
scenarios/**/node_modules/*
