name: simple_bank
version: 0.0.0
description: Simple Bank contract
repository:
networks:
  - id: 1337
    rpc_config:
      url: http://localhost:8545
    start_block: 0
    contracts:
      - name: SimpleBank
        abi_file_path: contracts/abis/SimpleBank.json
        address: "0x2B2f78c5BF6D9C12Ee1225D5F374aa91204580c3"
        handler: src/EventHandlers.js
        events:
          - event: "AccountCreated"
            requiredEntities: [] # empty signifies no requirements
          - event: "DepositMade"
            requiredEntities:
              - name: "Account"
                labels:
                  - "accountBalanceChanges"
              - name: "Bank"
                labels:
                  - "totalBalanceChanges"
          - event: "WithdrawalMade"
            requiredEntities: # if this field isn't specified it should default to include all entities
              - name: "Account"
                labels:
                  - "accountBalanceChanges"
              - name: "Bank"
                labels:
                  - "totalBalanceChanges"
