{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "A ️latency and sync speed optimized, developer friendly blockchain data indexer.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/enviodev/indexer.git"
  },
  "keywords": [
    "blockchain",
    "indexer",
    "ethereum",
    "data",
    "dapp"
  ],
  "author": "envio contributors <about@envio.dev>",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/enviodev/indexer/issues"
  },
  "homepage": "https://github.com/enviodev/indexer#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
