ENVIO_PG_HOST=127.0.0.1
ENVIO_PG_PORT=5433
ENVIO_PG_USER=postgres
ENVIO_PG_PASSWORD=testing
ENVIO_PG_DATABASE=envio-dev
ENVIO_HASURA=false
ENVIO_TUI=false
LOG_LEVEL=warn
ENVIO_CLICKHOUSE_HOST=http://127.0.0.1:8123
ENVIO_CLICKHOUSE_USERNAME=default
ENVIO_CLICKHOUSE_PASSWORD=testing
