.background-animate {
    background-size: 150%;

    -webkit-animation: MotionAnimation 4s ease infinite;
    -moz-animation: MotionAnimation 4s ease infinite;
    animation: MotionAnimation 4s ease infinite;
  }

  @keyframes MotionAnimation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }