{
  "name": "envio",
  "version": "${version}",
  "description": "A latency and sync speed optimized, developer friendly blockchain data indexer.",
  "bin": "./bin.js",
  "main": "./index.js",
  "types": "./index.d.ts",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/enviodev/hyperindex.git"
  },
  "keywords": [
    "blockchain",
    "indexer",
    "ethereum",
    "evm",
    "fuel",
    "data",
    "dapp"
  ],
  "author": "envio contributors <about@envio.dev>",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/enviodev/hyperindex/issues"
  },
  "homepage": "https://envio.dev",
  "optionalDependencies": {
    "envio-linux-x64": "${version}",
    "envio-linux-arm64": "${version}",
    "envio-darwin-x64": "${version}",
    "envio-darwin-arm64": "${version}"
  },
  "dependencies": {
    "@envio-dev/hypersync-client": "0.6.3",
    "rescript": "11.1.3",
    "rescript-schema": "9.3.0",
    "viem": "2.21.0"
  },
  "files": [
    "bin.js",
    "evm.schema.json",
    "fuel.schema.json",
    "rescript.json",
    "index.d.ts",
    "index.js",
    "src",
    "!src/**/*.bs.js"
  ]
}
