{
  "name": "envio",
  "version": "${version}",
  "description": "A latency and sync speed optimized, developer friendly blockchain data indexer.",
  "bin": "lib/index.js",
  "scripts": {
    "typecheck": "tsc --noEmit",
    "lint": "eslint .",
    "lint:fix": "eslint . --fix",
    "build": "tsc",
    "dev": "pnpm build && node lib/index.js"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/enviodev/hyperindex.git"
  },
  "keywords": [
    "blockchain",
    "indexer",
    "ethereum",
    "fuel",
    "data",
    "dapp"
  ],
  "author": "envio contributors <about@envio.dev>",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/enviodev/hyperindex/issues"
  },
  "homepage": "https://envio.dev",
  "devDependencies": {
    "@types/node": "^18.11.18",
    "@typescript-eslint/eslint-plugin": "^5.48.0",
    "@typescript-eslint/parser": "^5.48.0",
    "eslint": "^8.31.0",
    "typescript": "^4.9.4"
  },
  "optionalDependencies": {
    "envio-linux-x64": "${version}",
    "envio-linux-arm64": "${version}",
    "envio-darwin-x64": "${version}",
    "envio-darwin-arm64": "${version}",
    "envio-win32-x64": "${version}"
  },
  "eslintConfig": {
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "ignorePatterns": [
      "lib/*"
    ],
    "root": true
  },
  "files": [
    "lib",
    "evm.schema.json",
    "fuel.schema.json"
  ]
}
