name: greeter-gravatar
version: 0.0.0
description: Gravatar for Ethereum
repository: https://github.com/graphprotocol/example-subgraph
networks:
  - id: 1337
    rpc_config: 
      url:  http://localhost:8545
      unstable__sync_config:
        initial_block_interval: 10000
        interval_ceiling: 10000
    start_block: 0
    contracts:
      - name: Gravatar
        abi_file_path: abis/gravatar-abi.json
        address: "0x4675a6B115329294e0518A2B7cC12B70987895C4" # for test suite on hardhat
        # address: "0x2B2f78c5BF6D9C12Ee1225D5F374aa91204580c3" -> use this if you want to deploy to local ganache
        handler: ./src/EventHandlers.bs.js
        events:
          - event: "NewGravatar"
            requiredEntities: [] # empty signifies no requirements
          - event: "UpdatedGravatar"
            requiredEntities: # if this field isn't specified it should default to include all entities
              - name: "Gravatar"
                labels:
                  - "gravatarWithChanges"
