name: test_codegen
description: Gravatar for Ethereum
rollback_on_reorg: true
save_full_history: false
networks:
  - id: 1337
    rpc_config:
      url: http://localhost:8545 # RPC URL that will be used to subscribe to blockchain data on this network
      unstable__sync_config:
        initial_block_interval: 10000
        backoff_multiplicative: 0.8
        acceleration_additive: 2000
        interval_ceiling: 10000
        backoff_millis: 5000
        query_timeout_millis: 20000
    start_block: 1
    contracts:
      - name: Gravatar
        abi_file_path: abis/gravatar-abi.json
        address: "0x2B2f78c5BF6D9C12Ee1225D5F374aa91204580c3" # -> use this if you want to deploy to local ganache
        handler: ./src/EventHandlers.bs.js
        events:
          - event: "EmptyEvent()"
          - event: "TestEventWithLongNameBeyondThePostgresEnumCharacterLimit(address testField)"
          - event: "TestEventThatCopiesBigIntViaLinkedEntities(string param_that_should_be_removed_when_issue_1026_is_fixed)"
          - event: "TestEventWithReservedKeyword(string module)"
          - event: "TestEvent"
          - event: "NewGravatar"
          - event: "UpdatedGravatar"
      - name: NftFactory
        abi_file_path: abis/NftFactory.json
        address: "0xa2F6E6029638cCb484A2ccb6414499aD3e825CaC"
        handler: src/EventHandlers.ts
        events:
          - event: "SimpleNftCreated"
      - name: SimpleNft
        abi_file_path: abis/SimpleNft.json
        handler: src/EventHandlers.ts
        events:
          - event: "Erc20Transfer(address indexed from, address indexed to, uint256 amount)"
          - event: "Transfer"
  - id: 1
    start_block: 1
    contracts: []
  - id: 137
    start_block: 1
    contracts: []
