name: erc20indexer
description: ERC-20 indexer
networks:
  - id: 1 # Ethereum Mainnet
    start_block: 10861674
    contracts:
      - name: ERC20
        address: "0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984" #UNI
        handler: src/EventHandlers.bs.js
        events:
          - event: "Approval(address indexed owner, address indexed spender, uint256 value)"
            requiredEntities:
              - name: "Account"
              - name: "Approval"
          - event: "Transfer(address indexed from, address indexed to, uint256 value)"
            requiredEntities:
              - name: "Account"
              - name: "Approval"
