name: E2E Tests

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  ENVIO_API_TOKEN: ${{ secrets.ENVIO_API_TOKEN }}

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Setup rust cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/git
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./codegenerator/target
            ./target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-

      - uses: pnpm/action-setup@v3
        with:
          version: "8.9"

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
            ${{ runner.os }}-pnpm-store-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.10.0

      - name: Build envio CLI
        working-directory: codegenerator
        run: cargo build --release

      - name: Add envio to PATH
        run: |
          echo "${{ github.workspace }}/codegenerator/target/release" >> $GITHUB_PATH

      - name: Pre-pull docker-compose images
        working-directory: codegenerator/cli/templates/static/codegen
        run: docker compose pull

      - name: Mock gio
        run: |
          mkdir -p /home/runner/.local/bin
          echo 'echo "running mock gio"' > /home/runner/.local/bin/gio && chmod +x /home/runner/.local/bin/gio
          echo 'echo "running mock xdg-open"' > /home/runner/.local/bin/xdg-open && chmod +x /home/runner/.local/bin/xdg-open

      - name: Install e2e-tests dependencies
        working-directory: packages/e2e-tests
        run: pnpm install

      - name: Run E2E tests
        working-directory: packages/e2e-tests
        env:
          LOG_LEVEL: trace
          CI: true
        run: pnpm test

      - name: Test Failure
        uses: rjstone/discord-webhook-notify@e3fdffbe09fc784fef3788aecf3ca806719aa7e3
        if: failure() && github.ref == 'refs/heads/main'
        with:
          severity: error
          details: "E2E Tests Failed on main! (CC: <@&Devs>)"
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
