# Starting pipeline - all in one for now

name: Indexer test
on: pull_request

# For now we just run this in the gravatar folder.
defaults:
  run:
    working-directory: scenarios/gravitar

jobs:
  # Label of the container job
  container-job:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    container: node:18.15

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: testing
          POSTGRES_DB: indexly-dev
          POSTGRES_USER: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7
      
      - name: Install dependencies
        run: pnpm install

      - name: Build code
        run: |
          cd generated
          pnpm build

      - name: Run tests
        run: |
          cd generated
          pnpm test
